:root {
  --main-black-color: #2d2a26;
  --main-blue-color: #307fe2;
  --main-orange-color: #f87c56;
  --main-baby-blue-color: #8abadd;
  --main-salmon-color: #f5cabf;
  --main-pink-color: #ecb3cb;
  --main-background-color: #fcfcf0;
  --footer-text-color: #6f6a63;
  --orangy-color: #f68d2e;
}
