<div class="desktop-blog__wrapper">
  <ul class="navmenu-list blog">
    <li class="navmenu-list__item blog">
      <a class="navmenu-list__item__link blog" href="#about">About</a>
    </li>
    <li class="navmenu-list__item blog">
      <a class="navmenu-list__item__link blog" href="#features">How it works</a>
    </li>
    <li class="navmenu-list__item blog">
      <a class="navmenu-list__item__link blog" href="#social">Blog</a>
    </li>
    <li class="navmenu-list__item blog">
      <a class="navmenu-list__item__link blog" href="#contacts">Contacts</a>
    </li>
  </ul>
  <ul class="faq-list-mobile blog">
    <li class="faq-list__item blog">
      <a href="" class="faq-list__item-link">Privacy Policy</a>
    </li>
    <li class="faq-list__item blog">
      <a href="" class="faq-list__item-link">Terms and Conditions</a>
    </li>
  </ul>
  <div class="blog-offer">
    <h4 class="blog-sign">Discover our Kits</h4>
    <div class="btn-backround blog-bgc"></div>
    <button type="button" class="button button__text blog-btn">
      <span class="offer-btn__text">Get a Kit </span
      ><span class="offer-btn__icon">&#x1f4e6;</span>
    </button>
  </div>
</div>
