<section class="features-section" id="features">
  <ul class="features-list">
    <li class="features-list__item">
      <span class="item__num">1/3</span>
      <div class="item-content-container">
        <div class="item-content-wrapper">
          <p class="features-lable">Emphasize PrEP</p>
          <h3 class="features-sign">
            Book an appointment
            <span class="features-sign__spec">with a specialist</span>
          </h3>
          <p class="features-description">
            Order one of our CLIA kits from the comfort of your own home. Kits
            can include everything you need to test for Hep B&C, Trich,
            Chlamydia, HIV, and more.
          </p>
        </div>
        <img
          src="./images/main/appointment@2x.png"
          alt="appointment"
          loading="lazy"
          class="feature-item__img"
        />
      </div>
    </li>
    <li class="features-list__item">
      <span class="item__num">2/3</span>
      <div class="item-content-container reversed">
        <div class="item-content-wrapper">
          <p class="features-lable">Emphasize PrEP</p>
          <h3 class="features-sign">
            Your kit
            <span class="features-sign__spec">is mailed</span>
          </h3>
          <p class="features-description">
            After the appointment we'll mail you an STI kit to your home with
            easy steps to follow. If there are any additional questions needed,
            our medical team is here.
          </p>
          <div class="btn-backround features kit"></div>
          <button type="button" class="button button__text btn-kit__features">
            <span class="offer-btn__text">Get a kit</span>
          </button>
        </div>
        <img
          src="./images/main/kit@2x.png"
          alt="appointment"
          loading="lazy"
          class="feature-item__img"
        />
      </div>
    </li>
    <li class="features-list__item">
      <span class="item__num">3/3</span>
      <div class="item-content-container">
        <div class="item-content-wrapper">
          <p class="features-lable">Emphasize PrEP</p>
          <h3 class="features-sign">
            Get
            <span class="features-sign__spec">results</span>
          </h3>
          <p class="features-description">
            Order a test online, collect your sample at home, and then return
            your sample to our lab. We'll review it and send you results within
            2-4 days. If positive, we'll prescribe you a treatment plan to
            pickup at the nearest pharmacy.
          </p>
          <div class="btn-backround features start"></div>
          <button type="button" class="button button__text btn-start__features">
            <span class="offer-btn__text">Get started</span>
          </button>
        </div>
        <img
          src="./images/main/results@2x.png"
          alt="appointment"
          loading="lazy"
          class="feature-item__img"
        />
      </div>
    </li>
  </ul>
</section>
