<div class="footer-wrapper">
  <ul class="social-list desktop">
    <li class="social-list__item desktop">
      <a
        class="social-list__item-link"
        href="https://www.buzzsprout.com/"
        target="_blank"
        norefferer
        noopener
        nofollow
        >Podcast</a
      >
    </li>
    <span class="link-slash">/</span>
    <li class="social-list__item desktop">
      <a
        class="social-list__item-link"
        href="https://www.tiktok.com/"
        target="_blank"
        norefferer
        noopener
        nofollow
        >TikTok</a
      >
    </li>
    <span class="link-slash">/</span>
    <li class="social-list__item desktop">
      <a
        class="social-list__item-link"
        href="https://www.instagram.com/"
        target="_blank"
        norefferer
        noopener
        nofollow
        >Instagram</a
      >
    </li>
  </ul>
  <ul class="faq-list-mobile">
    <li class="faq-list__item">
      <a href="" class="faq-list__item-link">Privacy Policy</a>
    </li>
    <li class="faq-list__item">
      <a href="" class="faq-list__item-link">Terms and Conditions</a>
    </li>
  </ul>
  <p class="copyright-info">© 2021 Copyright Juna, All rights reserved</p>
  <div class="form-container footer">
    <form class="subscribe-form">
      <input
        type="email"
        name="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        class="subscribe-input"
        placeholder="Email"
      />
      <button type="submit" class="button button__text btn-subscribe">
        Subscribe
      </button>
    </form>
  </div>
</div>
