<div class="header__wrapper">
  <nav class="navmenu">
    <ul class="navmenu-list">
      <li class="navmenu-list__item">
        <a class="navmenu-list__item__link" href="#about">About</a>
      </li>
      <li class="navmenu-list__item">
        <a class="navmenu-list__item__link" href="#features">How it works</a>
      </li>
      <li class="navmenu-list__item">
        <a class="navmenu-list__item__link" href="#social">Blog</a>
      </li>
      <li class="navmenu-list__item">
        <a class="navmenu-list__item__link" href="#contacts">Contacts</a>
      </li>
    </ul>
    <button type="button" class="burger-btn" data-menu-open>
      <svg width="54" height="54">
        <use href="./images/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </nav>
  <div class="user__field">
    <div class="btn-backround header-btn"></div>
    <button type="button" class="button button__text offer-btn">
      <span class="offer-btn__text">Get a Kit </span
      ><span class="offer-btn__icon">&#x1f4e6;</span>
    </button>
    <div class="user">
      <svg width="22" height="22">
        <use href="./images/icons.svg#icon-profile"></use>
      </svg>
    </div>
  </div>
</div>
