<section class="hero-section">
  <div class="hero-container">
    <p class="hero__lable">Emphasize PrEP</p>
    <h1 class="hero__text">
      Replace awkward lab visits with at-home
      <span class="hero__testing">STI testing</span> and
      <span class="hero__treatment">treatment</span>.
    </h1>
    <div class="btn-background hero"></div>
    <button type="button" class="button button__text start-btn">
      Get Started
    </button>
  </div>
  <img
    src="./images/main/hero-image@2x.png"
    alt="hero"
    loading="lazy"
    class="hero__img"
  />
</section>
