<section class="">
  <div class="hero-container container">
    <p class="hero__lable">Emphasize PrEP</p>
    <h1 class="hero__text">
      Replace awkward lab visits with at-home
      <span class="hero__testing">STI testing</span> and
      <span class="hero__treatment">treatment</span>.
    </h1>
    <!-- <picture class="hero__image">
      <source
        srcset="
          ./images/main/hero-image.png    1x,
          ./images/main/hero-image@2x.png 2x
        "
      />
    </picture> -->
    <div class="btn-background hero"></div>
    <button type="button" class="button button__text start-btn">
      Get Started
    </button>
  </div>
  <img
    src="./images/main/hero-image@2x.png"
    alt="hero"
    width="375"
    height="409"
    loading="lazy"
  />
</section>
