<section class="mission-section container">
  <h2 class="mission-text">
    Our mission is simple: to make healthcare
    <span class="mission-text__access">accessible</span>,
    <span class="mission-text__afford">affordable</span>, and
    <span class="mission-text__easy">easy to use</span>.
  </h2>
  <p class="mission-description">
    STI rates are hitting record numbers, yet testing is lacking. We want to fix
    this by providing a more discreet and convenient way of maintaining sexual
    health for you. The easier it is to access and learn about your health, the
    easier it is for you to take meaningful action, whenever you need it.
  </p>
  <div class="btn-background mission"></div>
  <button class="button button__text mission">Get started</button>
  <img src="./images/main/hero-info@2x.png" alt="" />
</section>
