<div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <nav class="navmenu-mobile">
    <ul class="navmenu-list-mobile">
      <li class="navmenu-list-mobile__item" data-menu-item><a class="mobile__link" href="#about">About</a></li>
      <li class="navmenu-list-mobile__item" data-menu-item><a class="mobile__link" href="#features">How it works</a></li>
      <li class="navmenu-list-mobile__item" data-menu-item><a class="mobile__link" href="#blog">Blog</a></li>
    </ul>
    <button type="button" class="close-btn" data-modal-close>
      <svg width="15" height="15" class="icon-close">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="user">
        <svg width="22" height="22">
            <use href="./images/icons.svg#icon-profile"></use>
        </svg>
    </div>
  </div>
</div>
