<section class="partners-section">
  <ul class="partners-list">
    <li class="partners-list__item">
      <svg width="160" height="55">
        <use href="./images/icons.svg#icon-blue-cross"></use>
      </svg>
    </li>
    <li class="partners-list__item">
      <svg width="160" height="55">
        <use href="./images/icons.svg#icon-uhc"></use>
      </svg>
    </li>
    <li class="partners-list__item">
      <svg width="160" height="55">
        <use href="./images/icons.svg#icon-cigna"></use>
      </svg>
    </li>
    <li class="partners-list__item">
      <svg width="160" height="55">
        <use href="./images/icons.svg#icon-aetna"></use>
      </svg>
    </li>
  </ul>
  <div class="btn-background partners"></div>
  </div>
  <button type="button" class="button button__text btn-insurance">
    Check insurance
  </button>
</section>
