<section class="products-section">
  <ul class="products-list">
    <li class="products-list__item">
      <span class="product__status">AVAILABLE NOW</span>
      <h4 class="product__name">PrEP Kit</h4>
      <p class="product__description">HIV 1&2, Hep B, & Liver function</p>
      <div class="product-img__wrapper">
        <svg width="75" height="75" class="product__icon urine">
          <use href="./images/icons.svg#icon-urine"></use>
        </svg>
        <svg width="75" height="75" class="product__icon blood">
          <use href="./images/icons.svg#icon-blood"></use>
        </svg>
        <svg width="75" height="75" class="product__icon swab">
          <use href="./images/icons.svg#icon-swab"></use>
        </svg>
        <img
          src="./images/main/box@2x.png"
          alt="product"
          width="223"
          height="141"
          loading="lazy"
          class="product__image"
        />
      </div>
    </li>
    <li class="products-list__item">
      <span class="product__status two">COMING SOON</span>
      <h4 class="product__name">PrEP Kit</h4>
      <p class="product__description">HIV 1&2, Hep B, & Liver function</p>
      <div class="product-img__wrapper">
        <svg width="75" height="75" class="product__icon urine">
          <use href="./images/icons.svg#icon-urine"></use>
        </svg>
        <svg width="75" height="75" class="product__icon blood">
          <use href="./images/icons.svg#icon-blood"></use>
        </svg>
        <svg width="75" height="75" class="product__icon swab">
          <use href="./images/icons.svg#icon-swab"></use>
        </svg>
        <img
          src="./images/main/box@2x.png"
          alt="product"
          width="223"
          height="141"
          loading="lazy"
          class="product__image"
        />
    </li>
    <li class="products-list__item">
      <span class="product__status three">COMING SOON</span>
      <h4 class="product__name">PrEP Kit</h4>
      <p class="product__description">HIV 1&2, Hep B, & Liver function</p>
      <div class="product-img__wrapper">
        <svg width="75" height="75" class="product__icon urine">
          <use href="./images/icons.svg#icon-urine"></use>
        </svg>
        <svg width="75" height="75" class="product__icon blood">
          <use href="./images/icons.svg#icon-blood"></use>
        </svg>
        <svg width="75" height="75" class="product__icon swab">
          <use href="./images/icons.svg#icon-swab"></use>
        </svg>
        <img
          src="./images/main/box@2x.png"
          alt="product"
          width="223"
          height="141"
          loading="lazy"
          class="product__image"
        />
    </li>
    <li class="products-list__item">
      <span class="product__status four">COMING SOON</span>
      <h4 class="product__name">PrEP Kit</h4>
      <p class="product__description">HIV 1&2, Hep B, & Liver function</p>
      <div class="product-img__wrapper">
        <svg width="75" height="75" class="product__icon urine">
          <use href="./images/icons.svg#icon-urine"></use>
        </svg>
        <svg width="75" height="75" class="product__icon blood">
          <use href="./images/icons.svg#icon-blood"></use>
        </svg>
        <svg width="75" height="75" class="product__icon swab">
          <use href="./images/icons.svg#icon-swab"></use>
        </svg>
        <img
          src="./images/main/box@2x.png"
          alt="product"
          width="223"
          height="141"
          loading="lazy"
          class="product__image"
        />
    </li>
  </ul>
</section>
