<section class="social-section">
  <ul class="social-list">
    <li class="social-list__item">
      <a
        class="social-list__item-link"
        href="https://www.buzzsprout.com/"
        target="_blank"
        norefferer
        noopener
        nofollow
        >Podcast</a
      >
    </li>
    <span class="link-slash">/</span>
    <li class="social-list__item">
      <a
        class="social-list__item-link"
        href="https://www.tiktok.com/"
        target="_blank"
        norefferer
        noopener
        nofollow
        >TikTok</a
      >
    </li>
    <span class="link-slash">/</span>
    <li class="social-list__item">
      <a
        class="social-list__item-link"
        href="https://www.instagram.com/"
        target="_blank"
        norefferer
        noopener
        nofollow
        >Instagram</a
      >
    </li>
  </ul>
  <form class="subscribe-form">
    <input
      type="email"
      name="email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      class="subscribe-input"
      placeholder="Email"
    />
    <button type="submit" class="button button__text btn-subscribe">
      Subscribe
    </button>
  </form>
</section>
