<section class="spotify-commercial">
  <div class="commercial-wrapper">
    <img
      src="./images/main/banana@2x.png"
      alt="spotify commercial"
      width="300"
      height="204"
      loading="lazy"
      class="spotify-img"
    />
    <div class="text-box">
      <a
        href="https://open.spotify.com/"
        target="_blank"
        norefferer
        noopener
        nofollow
      >
        <svg width="44" height="44">
          <use href="./images/icons.svg#icon-spotify"></use>
        </svg>
      </a>
      <h5 class="commercial-sign">Better Safe than Horny</h5>
      <p class="commercial-sign__extra">With Carly and Josh</p>
    </div>
  </div>
</section>
