<section class="subscribe-section">
  <div class="subscribe__wrapper container">
    <img
      src="./images/main/social@2x.png"
      alt="likes"
      width="284"
      height="94"
      loading="lazy"
      class="subscribe-img"
    />
    <h4 class="subscribe-sign">
      Join the Waitlist
      <span class="subscribe-sign__spec"
        >Your partner will appreciate you.</span
      >
    </h4>
    <p class="subscribe-sign__descr">
      Sign up with your email address to receive news and updates.
    </p>
  </div>
</section>
