<div class="ticker-container">
  <div class="ticker-wrapper__first">
    <span class="shipping-sign">WE SHIP INSIDE THE US ONLY</span
    ><span>&#127482;&#127480;</span>
    <span class="shipping-sign">WE SHIP INSIDE THE US ONLY</span
    ><span>&#127482;&#127480;</span>
    <span class="shipping-sign">WE SHIP INSIDE THE US ONLY</span
    ><span>&#127482;&#127480;</span>
    <span class="shipping-sign">WE SHIP INSIDE THE US ONLY</span
    ><span>&#127482;&#127480;</span>
  </div>
  <div class="ticker-wrapper__second">
    <span class="shipping-sign">WE SHIP INSIDE THE US ONLY</span
    ><span>&#127482;&#127480;</span>
    <span class="shipping-sign">WE SHIP INSIDE THE US ONLY</span
    ><span>&#127482;&#127480;</span>
    <span class="shipping-sign">WE SHIP INSIDE THE US ONLY</span
    ><span>&#127482;&#127480;</span>
    <span class="shipping-sign">WE SHIP INSIDE THE US ONLY</span
    ><span>&#127482;&#127480;</span>
  </div>
</div>
