.spotify-commercial {
  background-color: var(--main-background-color);
  border: 1px solid var(--main-black-color);
  border-bottom: none;
  border-top: none;

  @include desktop {
    width: 50%;

    padding-left: 85px;
    padding-top: 98px;
  }
}

.commercial-wrapper {
  padding: 31px 18px;
}

.spotify-img {
  margin: 0 auto;

  @include desktop {
    margin: 0;
    margin-right: auto;

    width: 529px;
    height: 361px;
  }
}

.commercial-sign {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -3px;
  width: 208px;

  @include desktop {
    width: 400px;
    font-size: 70px;
  }

  padding-top: 10px;
  padding-bottom: 17px;

  &__extra {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: -0.02em;

    @include desktop {
      font-size: 22px;
    }
  }
}

.spotify-icon {
  @include desktop {
    width: 85px;
    height: 85px;
  }
}
