.tik-tok-section {
  background-image: url(../images/main/tik-tok-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 41px;
  padding-left: 14px;
  padding-right: 14px;

  @include desktop {
    width: 50%;
    padding-top: 71px;
  }
}

.tik-tok-sign {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;
  letter-spacing: -2px;
  color: var(--main-background-color);

  padding-top: 15px;
  padding-bottom: 27px;

  @include desktop {
    font-size: 52px;
    padding-bottom: 40px;
  }
}

.tik-tok-img {
  margin: 0 auto;

  @include desktop {
    width: 86px;
    height: 86px;
  }
}

.tik-tok-bg-img {
  margin: 0 auto;

  @include desktop {
    margin-top: auto;
    width: 385px;
    height: 550px;
  }
}
