.footer-wrapper {
  background-color: var(--main-black-color);
  padding: 28px 20px;

  border-top: 1px solid var(--footer-text-color);

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 120px;
    padding: 35px 0;
  }
}

.faq-list-mobile {
  display: flex;
  justify-content: space-around;

  &__item:hover,
  &__item:focus {
    transform: translateY(-1px);

    transition: transform 250ms ease;
  }

  @include desktop {
    display: none;
  }
}

.faq-list__item-link {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;

  color: var(--main-background-color);

  &:hover,
  &:focus {
    color: var(--orangy-color);

    transition: color 250ms ease;
  }
}

.copyright-info {
  color: var(--footer-text-color);
  padding-top: 22px;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 2.32;
  text-align: center;

  @include desktop {
    padding: 0;
  }
}

.social-list.desktop {
  @include mobile {
    display: none;
  }
  @include desktop {
    display: flex;
    padding: 0;
    justify-content: space-around;
  }
}

.social-list__item.desktop {
  &:not(:last-child) {
    margin-right: 15px;
  }
  &:not(:first-child) {
    margin-left: 15px;
  }
}

.form-container.footer {
  @include mobile {
    display: none;
  }
  @include desktop {
    display: flex;
  }
}
