.header__wrapper {
  width: 100%;
  padding: 14px 18px;

  margin: 0 auto;
  background-color: var(--main-background-color);
  border-bottom: 1px solid var(--main-black-color);

  @include mobile {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    padding: 11px 120px 19px;
    height: 82px;
  }
}

.navmenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navmenu-list {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: flex;
  }
}

.navmenu-list__item {
  &__link {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.37;

    color: var(--main-black-color);
  }
  &:not(:last-child) {
    margin-right: 25px;
  }

  transition: all 250ms ease;
}

.navmenu-list__item:hover,
.navmenu-list__item:focus {
  transform: translateY(-1px);
}

.navmenu-list__item__link:hover,
.navmenu-list__item__link:focus {
  color: var(--orangy-color);

  transition: color 250ms ease;
}

.burger-btn {
  display: inline-block;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
  background-color: #f3f3e7;
  outline: none;

  @include desktop {
    display: none;
  }

  &:focus {
    border: 1.5px solid var(--main-baby-blue-color);
  }
}

.offer-btn {
  padding: 16px 27px;

  @include desktop {
    height: 59px;
  }

  color: var(--main-black-color);
  background-color: var(--main-background-color);
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translate(1px, 1px);
  }

  &:focus {
    border: 1.5px solid var(--main-baby-blue-color);
  }

  &__icon {
    font-size: 20px;
    margin-left: 9px;
  }
}

.btn-backround.header-btn {
  width: 147px;
  height: 55px;
  top: 55px;
  right: 15px;

  @include desktop {
    height: 55px;
    right: 178px;
    top: 48px;
  }
}

.user__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: grid;
    place-items: center;
    width: 53px;
    height: 53px;

    margin-left: 8px;
  }
}
