.header__wrapper {
  background-color: var(--main-background-color);

  @include mobile {
    display: flex;
    justify-content: space-between;
  }
}

.navmenu-list {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: flex;
  }
}
