.partners-section {
  position: relative;
  padding: 40px 17px;
  background-color: var(--main-background-color);

  @include desktop {
    padding: 23px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.partners-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;

  padding-bottom: 30px;

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 0;
  }
}

.partners-list__item:not(:last-child) {
  @include desktop {
    margin-right: 75px;
  }
}

.btn-insurance {
  display: block;
  margin: 0 auto;
  background-color: var(--main-salmon-color);

  &:hover,
  &:focus {
    transform: translate(1px, 1px);
  }

  &:focus {
    border: 1.5px solid var(--main-baby-blue-color);
  }

  @include desktop {
    margin: 0;
  }
}

.btn-background.partners {
  width: 176px;
  height: 53px;
  position: absolute;
  background-color: var(--main-black-color);
  border-radius: 10px;
  right: 96px;
  bottom: 36px;

  @include desktop {
    right: 115px;
    bottom: 23px;
  }
}
