.social-section {
  background-color: var(--main-black-color);
  padding: 24px 18px;
  padding-top: 112px;

  @include desktop {
    display: none;
  }
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 20px;
}

.social-list.blog {
  @include desktop {
    display: none;
  }
}

.social-list__item {
  position: relative;

  &:hover {
    transform: translateY(-2px);
  }

  transition: transform 250ms ease;
}

.link-slash {
  color: var(--main-background-color);
}

.social-list__item-link {
  color: var(--main-background-color);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 2.32;

  &:hover,
  &:focus {
    color: var(--orangy-color);
  }

  transition: color 250ms ease;
}

.subscribe-form.blog {
  @include desktop {
    display: none;
  }
}
