.spotify-commercial {
  background-color: var(--main-background-color);
  border: 1px solid var(--main-black-color);
  border-bottom: none;
  border-top: none;
}

.commercial-wrapper {
  padding: 31px 18px;
}

.spotify-img {
  margin: 0 auto;
}

.commercial-sign {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -3px;
  width: 208px;

  padding-top: 10px;
  padding-bottom: 17px;

  &__extra {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: -0.02em;
  }
}
