.subscribe-section {
  background: linear-gradient(
    98.6deg,
    #d9cfff 0%,
    #ebf1ff 44.29%,
    #dde6ef 100%
  );
  padding-top: 65px;
}

.subscribe-img {
  margin: 0 auto;
}

.subscribe-sign {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.05;
  color: var(--orangy-color);

  text-align: center;
  letter-spacing: -3px;
}
